<extend name="Public:moviedetail" />
<block name="title">{$mrow['movie_name']} 影评-Mtime时光网</block>
<block name="css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/moviesortcomment.css">
	<script src="__PUBLIC__/Home/js/movieindex.js"></script>
</block>
<block name="name"><a href="__MODULE__/Movie/movieindex/id/{$mrow['movie_id']}">{$mrow['movie_name']}</a></block>
<block name="time">{$mrow['movie_start']|date="Y",###}</block>
<block name="ename"><a href="__MODULE__/Movie/movieindex/id/{$mrow['movie_id']}">{$mrow['movie_ename']}</a></block>
<block name="nav">
	<div class="db_nav db_secnav">
		<dl id="movieNavigationRegion">
			<dd>
				<a href="__MODULE__/Movie/movieindex/id/{$mrow['movie_id']}">
					影片首页
				</a>
			</dd>
			<dd>
				<a href="__MODULE__/Moviedetial/movievideo/id/{$mrow['movie_id']}">
					<span>{$vnum}</span>
					 个视频
				</a>
			</dd>
			<dd>
				<a href="__MODULE__/Moviedetial/movieposter/id/{$mrow['movie_id']}">
					<span>{$pnum}</span>
					张图片
				</a>
			</dd>
			<dd>
				<a href="#">
					<span>{$anum}</span>
					 位演职员
				</a>
			</dd>
			<dd>
				<a href="__MODULE__/Moviedetial/movielongcomment/id/{$mrow['movie_id']}">
					<span>{$cnum}</span>
					 条影评
				</a>
			</dd>
			<dd>
				<a href="#">
					<span>48</span>
					 条新闻
				</a>
			</dd>
			<dt class="more on" id="detailMenuRegion">
				<a href="javascript:;">
					更多
					<em id="detailMenuRegionLabel">&nbsp;</em>
				</a>
				<dl class="db_nav_sel" id="detailSubMenuRegion">
					<dd>
						<a href="__MODULE__/Moviedetial/movieabstract/id/{$mrow['movie_id']}">剧情</a>
					</dd>
					<dd>
						<a href="#">角色介绍</a>
					</dd>
					<dd>
						<a href="__MODULE__/Moviedetial/moviesecret/id/{$mrow['movie_id']}">幕后揭秘</a>
					</dd>
					<dd>
						<a href="#">获奖记录</a>
					</dd>
					<dd>
						<a href="#">更多资料</a>
					</dd>
				</dl>
			</dt>
		</dl>
	</div>
</block>
<block name="content">
	<div class="db_contout">
		<div class="db_cont">
			<div class="details_nav">
				<ul id="detailSubMenuInDetailPagesRegion">
					<li>
						<i>&nbsp;</i>
						<a href="__CONTROLLER__/movielongcomment/id/{$mrow['movie_id']}">长影评({$lcnum})</a>
					</li>
					<li class="on"> 
						<i>&nbsp;</i>
						<a href="__CONTROLLER__/moviesortcomment/id/{$mrow['movie_id']}">微评论({$scnum})</a>
					</li>
				</ul>
				<div class="add_comment">
					<a href="__MODULE__/Movie/movieindex/id/{$mrow['movie_id']}#ratingDownRegion" class="add_l">
						<i></i>
						写影评
					</a>
				</div>
			</div>
			<div class="clearfix pt9">
				<div class="db_selbox fr" style="width:80px">
					<div id="filterContainer" class="db_selinner">
						<i></i>
						<div id="currentBtn" class="db_selon">最新</div>
						<div id="dbseldrop" class="db_seldrop">
							<a href="__CONTROLLER__/moviesortcomment/id/{$mrow['movie_id']}">
								<p class="active">
									<em></em>
									最新
								</p>
							</a>
							<a href="javascript:;">
								<p>
									<em></em>
									最热
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="db_shortcomment">
				<dl id="tweetRegion">
					<volist name="comrows" id="comrow">
						<dd>
							<div class="mod_short">
								<h3>{$comrow['comment_text']}</h3>
								<div class="comboxuser">
									<div class="pic_58">
										<a href="#" title="{$comrow['mem']['member_nickname']}" target="_blank">
											<img src="__PUBLIC__/{$comrow['mem']['member_pic']}" width="48" height="48" alt="{$comrow['mem']['member_nickname']}">
										</a>
										<p class="px14">
											<a href="#" target="_blank">{$comrow['mem']['member_nickname']}</a>
										</p>
										<p class="mt6 px12">
											<span>看过 </span>
											<span class="db_point ml6">{$comrow['grade']['comgrade_grade']}.0</span>
										</p>
									</div>
									<div class="mt10 pr5">
										<a href="javascript:;">{$comrow['comment_time']|date="Y-n-d",###}</a>
									</div>
								</div>
								<div class="mt18">
									<div class="ele_replay">
										<div class="textarea">
											<textarea placeholder="发表评论" class="tex"></textarea>
											<span style="display:none;" class="commentid">{$comrow['comment_id']}</span>
										</div>
										<div class="db_comtool tr mt20">
											<a class="com_good" title="赞" href="javascript:;">
												<i title="赞"></i>{$comrow['comment_zs']}
											</a>
											<a class="com_share" title="转发" href="javascript:;">
												<i title="转发"></i>0
											</a>
											<a class="com_bbs" title="评论" href="javascript:;">
												<i title="评论"></i>{$comrow['replaynum']}
											</a>
										</div>
										<div class="mt6" style="display:none;" class="tjhf">
											<span class="kztext">
												还可以输入
												<span class="zs">210</span>
												个字
											</span>
											<span class="hf">回复</span>
										</div>
									</div>
								</div>
								<div id="newcomment">
									
								</div>
							</div>
							
						</dd>
					</volist>
				</dl>
			</div>
			<div class="pagenav tc p_r" id="PageNavigator">
				{$show}
			</div>
		</div>
	</div>
	<div class="my_layer w295" style="position: fixed; top: 200px; left: 515px; z-index: 111;display:none;" id="tishidl">
			<a id="tiplogin" class="i_pop_close tiplogin" title="关闭" href="javascript:void(0)">&nbsp;</a>
			<div class="inner w295">
				<div class="popmid">
					<div class="tc mt25 mb30 px20 lh15">请先登录！</div>
					<div class="tc pb12 pt15">
						<a href="javascript:;" class="btn_blue mr15 tiplogin">确定</a>
					</div>
				</div>
			</div>
		</div>
		<div class="my_layer w295" style="position: fixed; top: 200px; left: 515px; z-index: 111;display:none;" id="texttishi">
			<a id="textnum" class="i_pop_close textnum" title="关闭" href="javascript:void(0)">&nbsp;</a>
			<div class="inner w295">
				<div class="popmid">
					<div class="tc mt25 mb30 px20 lh15">您输入的字数过长！</div>
					<div class="tc pb12 pt15">
						<a href="javascript:;" class="btn_blue mr15 textnum">确定</a>
					</div>
				</div>
			</div>
		</div>
		<div class="my_layer w295" style="position: fixed; top: 200px; left: 515px; z-index: 111;display:none;" id="textcom">
			<a  class="i_pop_close textcom" title="关闭" href="javascript:void(0)">&nbsp;</a>
			<div class="inner w295">
				<div class="popmid">
					<div class="tc mt25 mb30 px20 lh15">评论内容不能为空！</div>
					<div class="tc pb12 pt15">
						<a href="javascript:;" class="btn_blue mr15 textcom">确定</a>
					</div>
				</div>
			</div>
		</div>
		<div class="my_layer w295" style="position: fixed; top: 200px; left: 515px; z-index: 111;display:none;" id="plsuccess">
			<a id="successclose" class="i_pop_close successclose" title="关闭" href="javascript:void(0)">&nbsp;</a>
			<div class="inner w295">
				<div class="popmid">
					<div class="tc mt25 mb30 px20 lh15">评论成功！</div>
					<div class="tc pb12 pt15">
						<a href="javascript:;" class="btn_blue mr15 successclose">确定</a>
					</div>
				</div>
			</div>
		</div>
		<div id="overlay" style="opacity: 0.6; zoom: 1; z-index: 110; position: fixed; margin: 0px; padding: 0px; top: 0px; left: 0px; width: 100%; height: 100%; background: rgb(0, 0, 0);display:none;"></div>
</block>
<block name="js">
	<script>
	$("#filterContainer").hover(
		function(){
			$(this).addClass("open");
			$(this).css({"height":"75px"});
			$("#dbseldrop").css({"height":"50px"});
		},
		function(){
			$(this).removeClass("open");
			$(this).css({"height":"0px"});
			$("#dbseldrop").css({"height":"0px"});
		}
	);
	
	$("#PageNavigator .next").text("下一页");
	$("#PageNavigator .prev").text("上一页");
	
	$(".tex").keyup(function(){
		var len = $(this).val().length;
		if(len>210){
			var l = len-210;
			str = "字数超出"+l+"字";
			$(this).parent().next().next().children(".kztext").text(str).css({"color":"#ca4004"});
		}else{
			var leng = 210-len;
			var s = "还可以输入 "+leng+" 个字";
				$(this).parent().next().next().children(".kztext").text(s).css({"color":"#333"});
		}
	});
	
	$(".hf").click(function(){
		obj = $(this);
		var dl={$_SESSION['member_login']?"1":"0"};
		var len = $(this).parent().prev().prev().children().eq(0).val().length;
		var cid = $(this).parent().prev().prev().children().eq(1).text();
		
		var textcont = $(this).parent().prev().prev().children().eq(0).val();
		if(dl==1){
			if(len!=0){
				if(len<=210){
					$.ajax({
						'type':'get',
						'url':"__MODULE__/Comment/recomment",
						'data':{'recomment_text':textcont,'recomment_cid':cid},
						'async':false,
						'success':function(a){
							
							if(a==1){
								var str = "<div class='pic_32 mt20'><a href='javascript:;'><img width='32' height='32' src='__PUBLIC__/{$_SESSION['member_pic']}' alt='{$_SESSION['member_nickname']}'></a><p class='px14'><a href='javascript:;' target='_blank'>{$_SESSION['member_nickname']}</a><span class='pl25' style='font-size:12px;'>刚刚</span></p><p class='mt5'>"+textcont+"</p></div>";
								
								obj.parent().parent().parent().next().append(str);
						
								obj.parent().prev().prev().children().eq(0).val("");
								$("#plsuccess").show();
								$("#overlay").show();
							}
						}
					});
				}else{
					$("#texttishi").show();
					$("#overlay").show();
				}
			}else{
				$("#textcom").show();
				$("#overlay").show();
			}
			
		}else{
			$("#tishidl").show();
			$("#overlay").show();
		}
	});
	
	$(".tiplogin").click(function(){
		$("#tishidl").hide();
		$("#overlay").hide();
	});

	$(".textcom").click(function(){
		$("#textcom").hide();
		$("#overlay").hide();
	});

	$(".textnum").click(function(){
		$("#texttishi").hide();
		$("#overlay").hide();
	});

	$(".successclose").click(function(){
		$("#plsuccess").hide();
		$("#overlay").hide();
	});

	</script>
</block>