<extend name="Public:moviedetail" />
<block name="title">{$mrow['movie_name']} 幕后揭秘</block>
<block name="css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/moviesecret.css">
</block>
<block name="name"><a href="__MODULE__/Movie/movieindex/id/{$mrow['movie_id']}">{$mrow['movie_name']}</a></block>
<block name="time">{$mrow['movie_start']|date="Y",###}</block>
<block name="ename"><a href="__MODULE__/Movie/movieindex/id/{$mrow['movie_id']}">{$mrow['movie_ename']}</a></block>
<block name="nav">
	<div class="db_nav db_secnav">
		<dl id="movieNavigationRegion">
			<dd>
				<a href="__MODULE__/Movie/movieindex/id/{$mrow['movie_id']}">
					影片首页
				</a>
			</dd>
			<dd>
				<a href="__MODULE__/Moviedetial/movievideo/id/{$mrow['movie_id']}">
					<span>{$vnum}</span>
					 个视频
				</a>
			</dd>
			<dd>
				<a href="__MODULE__/Moviedetial/movieposter/id/{$mrow['movie_id']}">
					<span>{$pnum}</span>
					张图片
				</a>
			</dd>
			<dd>
				<a href="#">
					<span>{$anum}</span>
					 位演职员
				</a>
			</dd>
			<dd>
				<a href="__MODULE__/Moviedetial/movielongcomment/id/{$mrow['movie_id']}">
					<span>{$cnum}</span>
					 条影评
				</a>
			</dd>
			<dd>
				<a href="#">
					<span>48</span>
					 条新闻
				</a>
			</dd>
			<dt class="more on" id="detailMenuRegion">
				<a href="javascript:;">
					更多
					<em id="detailMenuRegionLabel">&nbsp;</em>
				</a>
				<dl class="db_nav_sel" id="detailSubMenuRegion">
					<dd>
						<a href="__MODULE__/Moviedetial/movieabstract/id/{$mrow['movie_id']}">剧情</a>
					</dd>
					<dd>
						<a href="#">角色介绍</a>
					</dd>
					<dd>
						<a href="__MODULE__/Moviedetial/moviesecret/id/{$mrow['movie_id']}">幕后揭秘</a>
					</dd>
					<dd>
						<a href="#">获奖记录</a>
					</dd>
					<dd>
						<a href="#">更多资料</a>
					</dd>
				</dl>
			</dt>
		</dl>
	</div>
</block>
<block name="content">
	<div class="db_contout">
		<div class="db_cont">
			<div class="details_nav">
				<ul id="detailSubMenuInDetailPagesRegion">
					<li>
						<i>&nbsp;</i>
						<a href="__MODULE__/Moviedetial/movieabstract/id/{$mrow['movie_id']}">剧情</a>
					</li>
					<li class="false">
						<a href="">角色介绍</a>
					</li>
					<li class="on">
						<i>&nbsp;</i>
						<a href="__MODULE__/Moviedetial/moviesecret/id/{$mrow['movie_id']}">幕后揭秘</a>
					</li>
					<li class="false">
						<a href="">获奖记录</a>
					</li>
					<li>
						<i>&nbsp;</i>
						<a href="">更多资料</a>
					</li>
				</ul>
			</div>
			
			<div class="details_cont">
				<div class="revealed_modle">
					<h4>About</h4>
					<h3>
						关于《{$mrow['movie_name']}》你应该知道的
						<b>{$snum}</b>
						件事
					</h3>
					<dl class="revealed_list">
						<volist name="srow" id="row">
						<dd>
							<span class="num">{$i}</span>
							{$row['secret_text']}
						</dd>
						</volist>
					</dl>
					
				</div>
				<p class="line_solid p_r">&nbsp;</p>
			</div>
			
			
		</div>
	</div>
</block>