<html>
	<head>
		<title>长治影讯,长治电影院-在线选座购票-购电影票</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/indexheader.css">
		<link rel="stylesheet" href="__PUBLIC__/Mshop/css/index.css">
		<link rel="stylesheet" href="__PUBLIC__/Mshop/css/hdp.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/footer.css">
		<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
		<script src="__PUBLIC__/Mshop/js/jquery.SuperSlide.2.1.1.js"></script>
		<script src="__PUBLIC__/Home/js/header.js"></script>
		<script src="__PUBLIC__/Mshop/js/index.js"></script>
		<style>
			
		</style>
	</head>
	<body>
		<div class="container">
			<div style="z-index:120" id="searchbar">
				<include file="Public/indexheader" />
			</div>
			
			<div class="mtime-box">
				<div class="bd">
					<ul>
						<li style="background:url('__PUBLIC__/Mshop/images/1.jpg') center 0;">
							<a href="#" class="arealink"></a>
						</li>
						<li style="background:url('__PUBLIC__/Mshop/images/1.jpg') center 0;">
							<a href="#" class="arealink"></a>
						</li>
						<li style="background:url('__PUBLIC__/Mshop/images/1.jpg') center 0;">
							<a href="#" class="arealink"></a>
						</li>
					</ul>
				</div>
				<div class="mtime-btn">
					<a class="prev" href="javascript:;"></a>
					<a class="next" href="javascript:;"></a>
					<div class="hd"><ul></ul></div>
				</div>
			</div>
			
			<div class="t_nav2">
				<div class="t_naver clearfix">
					<div class="mulu" id="categoryMenuDiv">
						<i class="line"></i>
						<em></em>
						全部分类
					</div>
					<dl>
						<dd>
							<a href="#"><span>新品登陆</span></a>
							<a href="#"><span>预售</span></a>
							<a href="#"><span>礼品</span></a>
							<a href="#"><span>发烧友</span></a>
							<a href="#"><span>会员俱乐部</span></a>
							<a href="#"><span>门店列表</span></a>
						</dd>
					</dl>
				</div>
				<div id="categoryContentDiv" class="t_navbox" style="display:none;">
					<ul class="clearfix">
						<li>
							<a href="#" target="_blank">
								<span style="background:url(__PUBLIC__/Mshop/images/wjmx.jpg) center center;"></span>
								<strong>玩具模型</strong>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<span style="background:url(__PUBLIC__/Mshop/images/sjzb.jpg) center center;"></span>
								<strong>数码周边</strong>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<span style="background:url(__PUBLIC__/Mshop/images/fsxb.jpg) center center;"></span>
								<strong>服饰箱包</strong>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<span style="background:url(__PUBLIC__/Mshop/images/jjsh.jpg) center center;"></span>
								<strong>居家生活</strong>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="content">
				<div class="t_hotlist">
					<dl class="clearfix" style="position:relative;">
						<dt>
							<a href="#" title="" target="_blank">
								<img src="__PUBLIC__/Mshop/images/mkb.jpg" alt="">
							</a>
						</dt>
						<dd>
							<a href="#" title="" target="_blank">
								<img src="__PUBLIC__/Mshop/images/kd.jpg" alt="">
							</a>
						</dd>
						<dd>
							<a href="#" title="" target="_blank">
								<img src="__PUBLIC__/Mshop/images/kd.jpg" alt="">
							</a>
						</dd>
						<dd>
							<a href="#" title="" target="_blank">
								<img src="__PUBLIC__/Mshop/images/kd.jpg" alt="">
							</a>
						</dd>
						<dd>
							<a href="#" title="" target="_blank">
								<img src="__PUBLIC__/Mshop/images/kd.jpg" alt="">
							</a>
						</dd>
						<dd>
							<a href="#" title="" target="_blank">
								<img src="__PUBLIC__/Mshop/images/th.jpg" alt="">
							</a>
						</dd>
					</dl>
				</div>
				<div class="t_actorbox">
					<div class="t_actornav">
						<a class="scrollprev" href="javascript:;"></a>
						<a class="scrollnext" href="javascript:;"></a>
						<ul>
							<li>
								<img style="" alt="" title="" src="__PUBLIC__/Mshop/images/2.jpg">
							</li>
							<li>
								<img style="" alt="" title="" src="__PUBLIC__/Mshop/images/2.jpg">
							</li>
							<li>
								<img style="" alt="" title="" src="__PUBLIC__/Mshop/images/2.jpg">
							</li>
							<li>
								<img style="" alt="" title="" src="__PUBLIC__/Mshop/images/2.jpg">
							</li>
							<li>
								<img style="" alt="" title="" src="__PUBLIC__/Mshop/images/2.jpg">
							</li>
							<li>
								<img style="" alt="" title="" src="__PUBLIC__/Mshop/images/2.jpg">
							</li>
							<li>
								<img style="" alt="" title="" src="__PUBLIC__/Mshop/images/2.jpg">
							</li>
						</ul>
					</div>
					<div class="t_actor">
						<ul>
							<li style="z-index: 1;background: url(__PUBLIC__/Mshop/images/3.jpg) center;">
								<dl class="clearfix">
									<dd>
										<a href="" alt="" title="" target="_blank" style="display:block;width:400px;height:170px;"></a>
										<a href="" alt="" title="" target="_blank" style="display:block;width:400px;height:170px;"></a>
										<a href="" alt="" title="" target="_blank" style="display:block;width:400px;height:170px;"></a>
									</dd>
									<dt>
										<a href="" alt="" title="" target="_blank" style="display:block;width:200px;height:510px;"></a>
									</dt>
									<dd>
										<a href="" alt="" title="" target="_blank" style="display:block;width:400px;height:170px;"></a>
										<a href="" alt="" title="" target="_blank" style="display:block;width:400px;height:170px;"></a>
										<a href="" alt="" title="" target="_blank" style="display:block;width:400px;height:170px;"></a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="t_rcommend">
					<div class="t_commendtext">
						<dl class="clearfix">
							<dd>
								<div style="background:url(__PUBLIC__/Mshop/images/4.jpg);height:250px;">
									<h2>头脑特工队情感迷你公仔</h2>
									<p>情绪小人 占领头脑高地 </p>
									<strong>￥<span>29</span></strong>
									<a href="#" title="" target="_blank"></a>
									
								</div>
							</dd>
						</dl>
					</div>
				</div>
				
			</div>
			
		</div>
	</body>
	<script>
		$(".prev,.next").hover(function(){
			$(this).stop(true,false).fadeTo("show",0.9);
		},function(){
			$(this).stop(true,false).fadeTo("show",0.5);
		})
		$(".mtime-box").slide({
			titCell:".hd ul",
			mainCell:".bd ul",
			effect:"fold",
			interTime:4000,
			autoPlay:true,
			autoPage:true, 
			trigger:"click" 
		});
		
		$(".scrollprev,.scrollnext").hover(function(){
			$(this).stop(true,false).fadeTo("show",0.9);
		},function(){
			$(this).stop(true,false).fadeTo("show",0.5);
		})
		$(".t_actorbox").slide({
			titCell:"",
			mainCell:".t_actornav ul",
			autoPage: true,
			effect: "leftLoop",
			autoPlay: false,
			pnLoop:"false",
			delayTime:"500",
			scroll:1,
			vis: 5,
			prevCell:".scrollprev",
			nextCell:".scrollnext"
		});
	</script>
</html>