<extend name="Public:public" />
<block name="title">会员列表</block>
<block name="css">
	<style>
		.panel-footer .num,.panel-footer .current{
			border:1px solid #ddd;
			margin:0 5px;
			padding:5px;
		}
		.panel-footer .current{
			background:#0081bc;
			color:#fff;
		}
	</style>	
</block>
<block name="content">
	<div class="container">
		<h2 class="page-header">会员列表</h2>
		<table class="table table-hover table-bordered table-striped">
			<tr class="info">
				<th>会员ID</th>
				<th>会员帐号</th>
				<th>会员状态</th>
				<th>禁用帐号</th>
				<th>删除</th>
			</tr>
			<volist name="rows" id="row">
				<tr>
					<td>{$row['id']}</td>
					<td>{$row['member_name']}</td>
					<td>
						<span style="color:green;">正常</span>	
					</td>
					<td>
						<a href="__URL__/disable/id/{$row['id']}" onclick="javascript:return confirm('你确定要禁用该会员帐号？');">禁用</a>
					</td>
					<td>
						<a href="__URL__/del/id/{$row['id']}" onclick="javascript:return confirm('你确定删除？');">删除</a>
					</td>
				</tr>
			</volist>
		</table>
		<div class="text-right" style="padding-right:70px;">{$page}</div>
	</div>
</block>