<html>
	<head>
		<title><block name="title"></block></title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="__PUBLIC__/Bootstrap/css/bootstrap.min.css">
		<script src="__PUBLIC__/Bootstrap/js/jquery-1.11.min.js"></script>
		<script src="__PUBLIC__/Bootstrap/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Bootstrap/js/holder.min.js"></script>
		<script src="__PUBLIC__/Bootstrap/js/application.js"></script>
		<block name="css"></block>
	</head>
	<body>
		<block name="content"></block>
		
	</body>
		<block name="js"></block>
</html>