 ul{
	list-style: none;
}

a{
	color: #08c;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
}


.db_contout{
	background: #fff;
    position: relative;
    zoom: 1;
    padding-bottom: 15px;
    font-size: 14px;
    padding-top: 15px;
    z-index: 0;
}

.db_cont{
	width: 1000px;
    margin: 0 auto;
}

.details_nav{
	background: url(../images/info.png) no-repeat 0 -9px;
    width: 1000px;
    height: 83px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
    clear: both;
    zoom: 1;
}

.details_nav ul{
	overflow: hidden;
    height: 83px;
    margin-left: -10px;
    width: 100%;
}

.details_nav li{
	float: left;
    display: inline;
    height: 20px;
    border-left: 1px solid #cacaca;
    margin-left: -1px;
    position: relative;
    margin-top: 26px;
}

.details_nav li a{
	display: block;
    height: 20px;
    line-height: 20px;
    padding: 0 25px;
    color: #838383;
    font-size: 14px;
    text-align: center;
    float: left;
}

.details_nav li a:hover{
	color: #000;
    text-decoration: none;
}

.details_nav li.false a{
	color: #c8c8c8;
    cursor: default;
    font-weight: normal;
}

.details_nav li.on a{
    color: #000;
    text-decoration: none;
	font-weight: bold;
}

.details_nav li i{
	background: url(../images/icon.gif) no-repeat 0 -60px;
    height: 13px;
    width: 22px;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    top: 44px;
    display: none;
}

.details_nav li.on i{
	display:block;
}

.add_comment{
	position: absolute;
    right: 0;
    top: 28px;
}

.add_comment a{
	color: #838383;
    margin-right: 15px;
}

.add_comment i{
	background: url(../images/icon.gif) no-repeat;
    width: 16px;
    height: 15px;
    position: relative;
    zoom: 1;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.add_l i{
	background-position: -60px -70px;
}

.pt9{
	padding-top: 9px;
}

.clearfix, .fix{
	display: block;
}

.clearfix:after, .fix:after{
	content:".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.db_selbox{
	width: 80px;
    height: 25px;
    position: relative;
    zoom: 1;
    margin-right: 5px;
    font-size: 12px;
    z-index: 5;
}

.fr{
	float:right;
}

.db_selinner{
	width:88px;
	height:0px;
	position:absolute;
	right:0px;
	top:-20px;
	padding: 20px 0;
    line-height: 25px;
    color: #7a7a7a;
}

.db_selinner i{
	background: url(../images/icon.gif) no-repeat 0 -95px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 22px;
    overflow: hidden;
    opacity: .6;
    filter: alpha(opacity=60);
    vertical-align: middle;
}

.db_selinner.open{
	background:#fff;
	border-radius:6px;
	box-shadow:0 0 10px #666;
	-webkit-transition:all .2s ease-in;
	color:#0093f7;
	border:1px solid #666;
}

.db_selon{
	height: 25px;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.db_seldrop{
	height: 0;
    position: relative;
    overflow: hidden;
}

.db_seldrop p{
	height: 25px;
    position: relative;
    zoom: 1;
    padding-left: 25px;
    color: #7a7a7a;
    cursor: pointer;
}

.db_seldrop p a{
	 color: #7a7a7a;
}
.db_seldrop p:hover{
	background: #0093f7;
    color: #fff;
}
.db_seldrop p a:hover{
	color:#fff;
}

.db_seldrop p em{
	background: url(../images/icon.gif) no-repeat -30px -155px;
    width: 5px;
    height: 10px;
    display: none;
    position: absolute;
    left: 15px;
    top: 7px;
    overflow: hidden;
    opacity: .6;
}

.db_seldrop p.active em{
	display:block;
}

.db_shortcomment{
	background: #fff;
    margin-top: 0;
    border-bottom: 1px solid #aaa;
}
.db_shortcomment h4{
	width: 110px;
    height: 32px;
    background: #999;
    display: inline-block;
    position: relative;
    zoom: 1;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}

.db_shortcomment dl{
	position: relative;
    zoom: 1;
    overflow: hidden;
    margin: 15px 30px;
}
.db_shortcomment dd{
	position: relative;
    zoom: 1;
    overflow: hidden;
    display: block;
    padding-bottom: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 0;
    float: none;
    width: auto;
	margin-left: -1px;
	border-left: 1px solid #cdcdcd;
}

.db_shortcomment dd .mod_short{
	padding: 15px 0;
    padding-left: 180px;
    position: relative;
    zoom: 1;
    margin: 0;
	border-top: 1px dotted #999;
}

.mod_short h3{
	font-size: 16px;
    line-height: 1.8em;
    font-weight: normal;
    word-break: break-all;
    word-wrap: break-word;
	display:inline;
}

.mod_short .comboxuser{
	position: absolute;
    left: 0;
    top: 10px;
    width: 150px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
	margin-top: 15px;
    color: #999;
}

.db_point{
	background: #679c21;
    display: inline-block;
    position: relative;
    zoom: 1;
    padding: 4px 5px 4px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #fff;
    vertical-align: bottom;
    overflow: hidden;
}

.ml6{
	margin-left: 6px;
}

.mt10{
	margin-top: 10px;
	float:left;
}

.pr5{
	width:100px;
}

.mt18{
	margin-top: 18px;
}

.mod_short .ele_replay{
	position: relative;
}

.mod_short .ele_replay .focus{
	border: 2px solid #0087e2!important;
	height: 70px!important;
    padding: 5px 0 5px 8px!important;
}
/*.mod_short .ele_replay .textarea{
	width: 290px;
	background: #fbfbfb;
    height: 30px;
    position: relative;
    border: 1px solid #d6d6d6;
    padding: 3px 10px;
}*/


.ele_replay .textarea textarea{
    font-size: 13px;
    line-height: 20px;
    resize: none;
    color: #878787;
    overflow: auto;
	width:100%;
	font-family: "微软雅黑","microsoft yahei";
	vertical-align: middle;
    outline: 0;
}
.ele_replay .textarea .tex{
	width: 610px;
	background: #fbfbfb;
    height: 30px;
    position: relative;
    border: 1px solid #d6d6d6;
    padding: 3px 10px;
}
 
.ele_replay .db_comtool{
	position: absolute;
    right: 0;
    top: -13px;
}

.hf{
	display:inline-block;
	font-size:16px;
	color:#fff;
	background:#0081BC;
	width:80px;
	height:20px;
	text-align:center;
	border-radius:20px;
	margin-top:5px;
	margin-left:405px;
	cursor:pointer;
	padding:5px 0;
}

.hf:hover{
	background:#0074a9;
}

.p20{
	padding:20px;
}

.line_dot{
	border-bottom: 1px dotted #ccc;
	height: 0;
	overflow: hidden;
    width: 100%;
}

 .db_comtool{
	margin-top: 6px;
    text-align: right;
}

.db_comtool a{
	color: #7f7f7f;
    font-size: 14px;
    margin-left: 15px;
}

.db_comtool a:hover, .db_comtool a.on{
	color: #0073c6;
    text-decoration: none;
}

.db_comtool i{
	background: url(../images/allicon24.png) no-repeat;
    width: 17px;
    height: 15px;
    display: inline-block;
    position: relative;
    zoom: 1;
    overflow: hidden;
    margin-right: 3px;
    vertical-align: text-bottom;
}

.db_comtool a.com_good i{
	background-position: -34px 0;
}

.db_comtool a.com_good:hover i, .db_comtool a.com_good.on i{
	background-position: -34px -15px;
}

.db_comtool a.com_share i{
	background-position: -17px 0;
}
.db_comtool a.com_share i:hover{
	background-position: -17px -15px;
}
.db_comtool a.com_bbs i{
	background-position: 0 0;
}
.db_comtool a.com_bbs i:hover{
	background-position: 0 -15px;
}

.mt20{
	margin-top:20px;
}

.comboxuser .pic_58{
	padding-left: 60px;
	float: left;
    display: inline;
	min-height: 53px;
	border-left: 1px solid #ccc;
	position: relative;
    zoom: 1;
	word-break: break-all;
    word-wrap: break-word;
	border: 0;
}

.comboxuser .pic_58 img{
	position: absolute;
	left: 0;
	top: 2px;
    border: 1px solid #c4c4c4;
}

.px14{
	font-size: 14px;
}

.pt6{
	padding-top: 6px;
}

.tc{
	text-align:center;
}
.pagenav{
	text-align: center;
    position: relative;
    zoom: 1;
    overflow: hidden;
}

.pagenav a{
	font-size: 16px;
    display: inline-block;
    width: 36px;
    text-align: center;
    height: 36px;
    border-radius: 36px;
    padding: 0;
    color: #323232;
    margin: 0 3px;
    line-height: 36px;
    font-family: helvetica,"微软雅黑","microsoft yahei";
    border: 0;
}

.pagenav .current{
	font-size: 16px;
    display: inline-block;  
    width: 36px;
    text-align: center;
    height: 36px;
    border-radius: 36px;
    padding: 0;
    color: #323232;
    margin: 0 3px;
    line-height: 36px;
    font-family: helvetica,"微软雅黑","microsoft yahei";
    border: 0;
}

.pagenav .current, .pagenav a:hover{
	background: #0096ff;
    color: #fff;
    text-decoration: none;
    border: 0;
}

.pagenav a.next{
	margin: 0 3px;
    padding: 0 10px;
    width: 60px;
    font-size: 12px;
}
.pagenav a.prev{
	margin: 0 3px;
    padding: 0 10px;
    width: 60px;
    font-size: 12px;
}


.my_layer{
	border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border: 1px solid #e7e7e7;
    position: absolute;
    z-index: 17;
    background: #fff;
}

.w295{
	width: 315px;
}

.i_pop_close{
	width: 42px;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: absolute;
    background: url(../images/mtipbar_num.png) no-repeat -67px 0;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 1;
}

.my_layer .inner{
	border: 0;
    position: relative;
    zoom: 1;
    min-height: 60px;
}

.my_layer .inner .popmid{
	padding:20px;
}

.lh15{
	line-height: 150%;
}

.pb12{
	padding-bottom: 12px;
}

.pt15{
	padding-top: 15px;
}

.btn_blue{
	display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 0 12px;
    margin: 0 5px;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-radius: 20px;
	background: #0081bc;
}

.popmid a:hover{
	background: #0074a9;
	text-decoration:none;
}


.mt15{
	margin-top: 15px;
}

.px12{
	font-size: 12px;
}

.mt25{
	margin-top: 25px;
}

.mb30{
	margin-bottom:30px;
}

.px20{
	font-size: 20px;
}

.mb25{
	margin-bottom: 25px;
}

.pt25{
	padding-top:25px;
}

.pl25{
	padding-left: 25px;
}

.mt5{
	margin-top:5px;
}

.add_comment a:hover{
	color: #000;
    text-decoration: none;
}

.add_l:hover i{
	background-position: -77px -70px;
}
