@charset "utf-8";
/*课程介绍 轮播*/
.friend{height:120px;margin:0 auto;width:655px;}
.mr_frbox{height:120px;padding:0px;}
.mr_frBtnL{cursor:pointer;display:inline;float:left;height:46px;margin-top:30px;margin-right:5px;width:6px;}
.mr_frUl{float:left;height:120px;width:630px;margin-top:-10px;overflow:hidden;}
.mr_frBtnR{float:right;margin-top:30px;cursor:pointer;width:6px;height:46px;}
.mr_frUl ul li{display:inline;float:left;height:103px;width:102px;overflow:hidden;position:relative;margin-top:10px;margin-right:3px;}




