.t_setright{
	float: left;
    display: inline;
    border-left: 1px solid #ccc;
    width: 755px;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 9px;
	position: relative;
}

ul{
	list-style:none;
}

.t_setphone li{
	clear: both;
    overflow: hidden;
    zoom: 1;
    position: relative;
    padding-top: 12px;
}

.t_setphone2 li{
	padding-top: 6px;
}

.t_setphone label{
	float: left;
    display: inline;
    width: 120px;
    text-align: right;
    line-height: 2em;
}

.t_setphone .tel_r{
	float: left;
    display: inline;
    margin-left: 9px;
    width: 500px;
}

input{
	font: 12px verdana,lucida,arial,helvetica,宋体,sans-serif;
    padding: 2px;
    vertical-align: middle;
    outline: 0;
}

input.t_text{
	border: 1px solid #9abed0;
    padding: 5px 5px;
	height: 20px;
}

.w200{
	width: 200px;
}

.btn_blue{
	background: #2e8ddf url(../images/mytime/public_bg.jpg) no-repeat -362px -168px;
	overflow: visible;	
	color: #fff;
    border: 1px solid #2785cf;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
	font-family: "宋体";
    font-size: 14px;
	line-height: 27px!important;
    height: 27px!important;
    width: auto!important;
    padding: 0 20px!important;
}

.c_666{
	color:#666;
}

.mt3{
	margin-top:3px;
}