<extend name="Public:proindex" />
<block name="title">修改密码 – 电影社区 – Mtime时光网</block>
<block name="css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/password.css">
</block>
<block name="tit">安全隐私</block>
<block name="setsider">
	<li>
		<span>&nbsp;</span>
		<a href="__URL__/security">隐私管理</a>
	</li>
	<li>
		<span>&nbsp;</span>
		修改密码
	</li>
	<li>
		<span>&nbsp;</span>
		黑名单
	</li>
</block>

<block name="content">
	<div class="t_setright">
	<form action="__CONTROLLER__/updatepass" method="post" id="form1">
		<ul class="t_setphone t_setphone2">
			<li>
				<label>旧密码：</label>
				<div class="tel_r">
					<input type="password" id="txt_oldpwd" class="t_text w200 er" maxlength="20" name="oldname">
					<p style="margin-top:3px;color:red;display:none;"></p>
				</div>
			</li>
			<li>
				<label>新密码：</label>
				<div class="tel_r">
					<input type="password" id="txt_newpwd" class="t_text w200 er" maxlength="20" name="member_pass">
					<p id="newpwdMsg" class="c_666 mt3">6-20位字母与数字、符号的组合</p>
					<p style="margin-top:3px;color:red;display:none;">密码不能为空！</p>
				</div>
			</li>
			<li>
				<label>确认新密码：</label>
				<div class="tel_r">
					<input type="password" id="txt_newpwd2" class="t_text w200 er" maxlength="20" name="renewname">
					<p style="margin-top:3px;color:red;display:none;">两次输入的密码不一致！</p>
				</div>
				
			</li>
			<li>
				<label>&nbsp;</label>
				<div class="tel_r">
					<input type="button" id="btn_save" class="btn_blue" value="保 存">
				</div>
			</li>
		</ul>
	</form>
	</div>
</block>
<block name="js">
	<script>
		$("#nav").children().eq(3).addClass("on");
		$("#nav").children().children().addClass("a4");
		
		$("#setsider").children().eq(1).addClass("on");
		
		$("#txt_oldpwd").blur(function(){
			var val = this.value;
			obj = this;
			$.ajax({
				'type':'get',
				'url':'{:U('Profile/findpass')}',
				'data':{'pass':val},
				'async':false,
				'success':function(d){
					if(d=='0'){
						$(obj).next().html("你输入的原密码不正确！").show();
						$(obj).data({"r":0});
					}else{
						$(obj).next().hide();
						$(obj).data({"r":1});
					}
				}
			});
		});
		
		$("#txt_newpwd").focus(function(){
			$(this).next().hide();
		});
		
		$("#txt_newpwd").blur(function(){
		 	var v = this.value;
		 	if(v==""){
		 		$(this).next().next().show();
		 		$(this).data({"r":0});
		 	}else{
		 		var len= v.length;
		 		if(len<6 || len>20){
		 			$(this).next().next().html("密码必须在6-20位之间！").show();
		 			$(this).data({"r":0});
		 		}else{
		 			$(this).next().next().hide();
		 			$(this).data({"r":1});
		 		}
		 	}
		});

		$("#txt_newpwd2").blur(function(){
			var va1 = $("#txt_newpwd").val();
			var va2 = $(this).val();
			if(va1 == va2){
				$(this).next().hide();
				$(this).data({"r":1});
			}else{
				$(this).next().show();
				$(this).data({"r":0});
			}
		});
		
		$("#btn_save").click(function(){

			$(".er").blur();

			num = 0;

			$(".er").each(function(){
				num+=$(this).data("r");
			});
		
			if(num==3){
				$("#form1").submit();
			}
		});

		
		
	</script>
</block>